/* header */

header{
    background-color: lightgray;
    height: 60px;
}

nav{
    background-color: white;
    flex-grow: 1;
}

.search{
    background-color: #E5E5E5;
}

ul{
    list-style: none;
    padding: 0;
}

/* main */

.left-menu{
    width: 70px;
    height: 100vh;
    background-color: black;
    padding-top: 60px;
    padding-inline: auto;
    background-image: url(file:///C:/Users/domen/Progetti%20Boolean/esercizi/html-css-bootstrap-dashboard/img/sidebar-bg.png);
}

a{
    text-decoration: none;
}

@media screen and (min-width:992px){
    .left-menu{
        width: 120px;
    }
}

.left-icon:hover{
    background-color: rgba(255, 255, 255, 0.6);
}