/* header */

header{
    background-color: lightgray;
    height: 60px;
}

nav{
    background-color: white;
    flex-grow: 1;
}

.search{
    background-color: #E5E5E5;
}

ul{
    list-style: none;
    padding: 0;
}

/* main */


/* left */
.left-menu{
    min-width: 70px;
    height: 100vh;
    background-color: rgb(7, 1, 25);
    padding-top: 60px;
    padding-inline: auto;
    background-image: url(file:///C:/Users/domen/Progetti%20Boolean/esercizi/html-css-bootstrap-dashboard/img/sidebar-bg.png);
    background-position-y: 80px;
}

a{
    text-decoration: none;
}

@media screen and (min-width:992px){
    .left-menu{
        min-width: 120px;
    }
}

.left-icon:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

/* central */

.central{
    padding-top: 60px;
    height: 100vh;
    overflow-y: auto;
}

.fa-code{
    background-color: orangered;
    padding: 0.5rem;
    border-radius: 100%;
}
